@charset "UTF-8";
body {
    background: #4c8c81;
}

img {
    vertical-align: bottom;
}

h1 {
    padding: 45px 0;
    color: #bec4c3;
    font-size: 4em;
    font-weight: bold;
    text-align: center;
}

main {
    width: 640px;
    margin: 0 auto;
    display: block;
}

figure {
    margin-bottom: 20px;
}

ul {
    width: 260px;
    margin: 0 auto;
}

ul li {
    margin-right: 10px;
    float: left;
    list-style-type: none;
}

ul li a:hover {
    transition: opacity .3s;
    opacity: .5;
}

ul li:last-child {
    margin-right: 0;
}